<h1>Who are we ?</h1>
<br><br>
<div>
<p>We are <strong>South African</strong> based startup with a core focus on bridging the <strong>programming skills gap</strong> in Africa.We offer a variety of programming courses that will get you ready for your first job in tech or if you are a skilled professional and looking to learn new technologies, Universal Coding School offers the best.</p>
<br>
<p>
 <h3>Courses on offer:</h3>
 <br>
	<ul>
		<li>Ruby on Rails</li>
		<li>Python</li>
		<li>Java</li>
		<li>Javascript</li>
		<li>C#</li>
		<li>Artificial Intellingence</li>
		<li>Data Science</li>
			
	</ul>
</p>
</div>
<br><br>

<%= link_to 'home', root_path, class:"btn btn-secondary" %>
<br><br>