
<!DOCTYPE html>
<html>
<head>
	<title>UCS</title>
	<style>

h2 {
  text-align: right;
}	
.p1 {
  text-align: right;
}	
.image {

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

	</style>
</head>
<body>
	<div>
		<h2>Welcome to UCS</h2>
		<br><br>
		<p class="p1">(Sign up to see the full functionality of our website,
		This web app was created to demonstrate a crud
		application and not to show front end design skills)</p>
	</div>
	<%= image_tag("logo.png", :class => "image") %>
	<br><br><br>
	
    

</body>
</html>